# Basics of Python
### Name : Tanmay Agarwal
### PRN : 25070123158
### Batch : EnTC A3

In [ ]:
# Printing a string
print("Hello, Welcome to Python Programming")

Hello, Welcome to Python Programming

In [ ]:
# Printing a variable
a = "Hello"
print(a)

Hello

In [ ]:
# Comments
# This is a comment
print("Hello world")

Hello world

In [ ]:
# Many Statements
# 3 physical and 3 logical statements
print("Hello World")
print("Have a good Day")
print("Learning Python is fun")

Hello World
Have a good Day
Learning Python is fun

In [ ]:
# 1 physical statements and 3 logical statements
print("Hello"); print("How are you?"); print("Bye bye!")

Hello
How are you?
Bye bye!

In [ ]:
# Print Numbers
a = 3
print(a)
print(358)
print(50.235)

3
358
50.235

In [ ]:
# Variables
x = 5
y = "Hello World"

print(x)
print(y)

5
Hello World

In [ ]:
# Case Sensitive
a = 4
A = "Sally"

print(a)
print(A)

4
Sally

In [ ]:
# Many values to Multiple Variables

x, y, z = "Dustin", "Lucas", "Will"
print(x,y,z)

Dustin Lucas Will

# Arithmetic Operations

In [ ]:
# Basic Arithmetic Operations
a = 10
b = 5

print("The sum is",a+b)
print("The difference is",a-b)
print("The product is",a*b)
print("The quotient is",a/b)

The sum is 15
The difference is 5
The product is 50
The quotient is 2.0

# Data Types in Python

In [ ]:
# understanding data Types
u = 12
v = 3.69
w = "College"
x = True
y = 2+3j

print(type(u))
print(type(v))
print(type(w))
print(type(x))
print(type(y))

# all the above mentioned data types are in built

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

# Input from User

In [ ]:
#Taking input from user
name = input("Enter your name: ")
year = int(input("Enter your year of birth: "))
age = float(input("Enter you current ae in decimal: "))

print("Name: ", name)
print("Year of Birth: ", year)
print("Age: ", age)

Enter your name: Lehalyaa
Enter your year of birth: 2007
Enter you current ae in decimal: 18.7
Name:  Lehalyaa
Year of Birth:  2007
Age:  18.7

#Boolean in Python

In [ ]:
# Python Booleans
print(10 > 9)
print(10 == 9)
print(10 < 9)

# Problem Statements

In [ ]:
# Simple Calculator
n1 = float(input("Enter the first number: "))
n2 = float(input("Enter the second number: "))
print("Enter \n + for Addition \n - for Subtraction \n * for Multiplication \n / for Division")
op = input("Enter the operator:")
if(op == '+'):
  print("The sum is: ", n1 + n2)
elif(op == '-'):
  print("The difference is: ", n1 - n2)
elif(op == '*'):
  print("The product is: ", n1 * n2)
elif(op == '/'):
  print("The quotient is: ", n1 / n2)
else:
  print("Invalid Operator")

Enter the first number: 25
Enter the second number: 26
Enter
 + for Addition
 - for Subtraction
 * for Multiplication
 / for Division
Enter the operator:+
The sum is:  51.0

In [1]:
# Student 1
print("Enter marks for Student 1")
english = int(input("English: "))
physics = int(input("Physics: "))
chemistry = int(input("Chemistry: "))
maths = int(input("Maths: "))

total = english + physics + chemistry + maths
average = total / 4

print("Total =", total)
print("Average =", average)
print()

# Student 2
print("Enter marks for Student 2")
english = int(input("English: "))
physics = int(input("Physics: "))
chemistry = int(input("Chemistry: "))
maths = int(input("Maths: "))

total = english + physics + chemistry + maths
average = total / 4

print("Total =", total)
print("Average =", average)
print()

# Student 3
print("Enter marks for Student 3")
english = int(input("English: "))
physics = int(input("Physics: "))
chemistry = int(input("Chemistry: "))
maths = int(input("Maths: "))

total = english + physics + chemistry + maths
average = total / 4

print("Total =", total)
print("Average =", average)
print()

# Student 4
print("Enter marks for Student 4")
english = int(input("English: "))
physics = int(input("Physics: "))
chemistry = int(input("Chemistry: "))
maths = int(input("Maths: "))

total = english + physics + chemistry + maths
average = total / 4

print("Total =", total)
print("Average =", average)
print()

# Student 5
print("Enter marks for Student 5")
english = int(input("English: "))
physics = int(input("Physics: "))
chemistry = int(input("Chemistry: "))
maths = int(input("Maths: "))

total = english + physics + chemistry + maths
average = total / 4

print("Total =", total)
print("Average =", average)

Enter marks for Student 1
English: 55
Physics: 55
Chemistry: 55
Maths: 55
Total = 220
Average = 55.0

Enter marks for Student 2
English: 55
Physics: 55
Chemistry: 55
Maths: 55
Total = 220
Average = 55.0

Enter marks for Student 3
English: 55
Physics: 55
Chemistry: 55
Maths: 55
Total = 220
Average = 55.0

Enter marks for Student 4
English: 55
Physics: 55
Chemistry: 55
Maths: 55
Total = 220
Average = 55.0

Enter marks for Student 5
English: 55
Physics: 55
Chemistry: 55
Maths: 55
Total = 220
Average = 55.0

In [ ]:
# Area of Circle
r = float(input("Enter the radius of the circle: "))
area = 3.14 * r * r
print("The area of the circle of the given radius is: ", area)

Enter the radius of the circle: 1
The area of the circle of the given radius is:  3.14

In [ ]:
# Area of a Rectangle
l  = float(input("Enter the length of the rectangle: "))
b = float(input("Enter the breadth of the rectangle: "))
area = l * b
print("The area of the rectangle is: ", area)

Enter the length of the rectangle: 1
Enter the breadth of the rectangle: 1
The area of the rectangle is:  1.0

In [ ]:
#Perimeter of Rectangle
l  = float(input("Enter the length of the rectangle: "))
b = float(input("Enter the breadth of the rectangle: "))
perimeter = 2 * (l + b)
print("The perimeter of the rectangle is: ", perimeter)

Enter the length of the rectangle: 2
Enter the breadth of the rectangle: 2
The perimeter of the rectangle is:  8.0