# Experiment 3 EDA 21/01/2026
### Name : Tanmay Agarwal
### PRN : 25070123158
### Batch : EnTC A3
### Title: Study of List and various operations on it.

In [23]:
## Python Lists

python_list = ["Data", 1707 , 3.14]
print(python_list)

['Data', 1707, 3.14]

In [24]:
# List allows Duplicates

python_list = ["Data", 1707 , 3.14 ,1707]
print(python_list)

['Data', 1707, 3.14, 1707]

In [25]:
#List Length

my_list = [1,2,3, "Alcohol", 7.77]
print(len(my_list))

5

In [26]:
# A list with strings, integers and Boolean Values

list1 = ["World", 15 , True, 4.75 , False]
list1

['World', 15, True, 4.75, False]

In [7]:
# Access Items

example = ["eda", 77, True, 34, "female"]
print(example[1])
print(example[3])
print(example[0])

77
34
eda

In [8]:
# Reverse / Negative Indexing

example = ["eda", 77, True, 34, "female"]
print(example[-1])
print(example[-3])
print(example[-5])

female
True
eda

In [9]:
# List Slicing

subjects = ["Physics", "Chemistry", "Maths", "English", "German", "Computer Science"]
print(subjects[1:4])
print(subjects[-5:-1])# Reverse Indexing
print(subjects[:4]) # To print without the starting index
print(subjects[2:]) # To print without the ending index

['Chemistry', 'Maths', 'English']
['Chemistry', 'Maths', 'English', 'German']
['Physics', 'Chemistry', 'Maths', 'English']
['Maths', 'English', 'German', 'Computer Science']

In [10]:
# Change Item Value

subjects = ["Physics", "Chemistry", "Maths", "English", "German", "Computer Science"]
subjects[-3] = "Physical Education"
subjects[0] = "Geography"
print(subjects)

['Geography', 'Chemistry', 'Maths', 'Physical Education', 'German', 'Computer Science']

In [13]:
# Append Items

name = ["Tanmay", "Tannishtha", "Jahnvi", "Falak"]
name.append("Rucha")
print(name)

['Tanmay', 'Tannishtha', 'Jahnvi', 'Falak', 'Rucha']

In [14]:
# Insert Items

name = ["Tanmay", "Tannishtha", "Jahnvi", "Falak"]
name.insert(4 , "Samiksha")
print(name)

['Tanmay', 'Tannishtha', 'Jahnvi', 'Falak', 'Samiksha']

In [15]:
# Extend List

sem1 = ["FEEE", "ECSF", "CTEE", "CLA", "PinC"]
sem2 = ["PES", "AMT", "EDA", "DCLD", "CT"]
sem1.extend(sem2)
print(sem1)

['FEEE', 'ECSF', 'CTEE', 'CLA', 'PinC', 'PES', 'AMT', 'EDA', 'DCLD', 'CT']

In [19]:
# Searching Items

name = ["Tanmay", "Tannishtha", "Jahnvi", "Falak"]
"Rucha" in name

False

In [27]:
# Repetition

college = ("SIT ") * 7
print(college)

SIT SIT SIT SIT SIT SIT SIT

In [ ]:
# Problem Statement - 1

numbers = [10,20,30,40,50]
print("Elements from index 1 to 3")
print(numbers[1:4], "\n")

print("First Three Elements")
print(numbers[:3], "\n")

print("Elements from Index 2 onwards (Reverse Indexing)")
print(numbers[-3:], "\n")

print("All Elements")
print(numbers[:] , "\n")

Elements from index 1 to 3
[20, 30, 40]

First Three Elements
[10, 20, 30]

Elements from Index 2 onwards
[30, 40, 50]

All Elements
[10, 20, 30, 40, 50]

In [31]:
#Problem Statement - 2

student_marks = [80 , 88 , 95, 99 , 96, 75, 94, 90, 78, 69]
print("Highest Mark - ", max(student_marks))
print("Lowest Mark - ", min(student_marks))
print("Average Mark - ", sum(student_marks)/len(student_marks))
student_marks.sort()
print("Ascending Sorted Marks:", student_marks)
student_marks.sort(reverse = True)
print("Descending Sorted Marks:", student_marks)

Highest Mark -  99
Lowest Mark -  69
Average Mark -  86.4
Ascending Sorted Marks: [69, 75, 78, 80, 88, 90, 94, 95, 96, 99]
Descending Sorted Marks: [99, 96, 95, 94, 90, 88, 80, 78, 75, 69]

In [ ]:
# Problem Statement - 3 : Grocery Analysis

grocery = ["Dal", "Oil", "Soap", "Masala", "Vegetables"]
grocery_1 = ["Tooth Paste", "Tooth Brush", "Biscuits", "Detergent"]
print(grocery, "\n")
print("The List wtih extra added Items: ")
grocery.extend(grocery_1)
print(grocery, "\n")
print("The list with removed Items: ")
grocery.remove("Masala")
print(grocery, "\n")
print("The Final Grocery List")
print(grocery)

['Dal', 'Oil', 'Soap', 'Masala', 'Vegetables']

The List wtih extra added Items:
['Dal', 'Oil', 'Soap', 'Masala', 'Vegetables', 'Tooth Paste', 'Tooth Brush', 'Biscuits', 'Detergent']

The list with removed Items:
['Dal', 'Oil', 'Soap', 'Vegetables', 'Tooth Paste', 'Tooth Brush', 'Biscuits', 'Detergent']

The Final Grocery List
['Dal', 'Oil', 'Soap', 'Vegetables', 'Tooth Paste', 'Tooth Brush', 'Biscuits', 'Detergent']

In [32]:
# Problem Statement - 4 - Contact Analysis

contact = ["Tanmay Agarwal", "Tannishtha Gupta", "Jahnvi Shukla", "Falak Jain", "Rucha Sarwan"]
contact.append("Samiksha Lamsal")
print("The Updated List is: ", contact, "\n")
contact.remove("Falak Jain")
print("The Removed List is: ", contact, "\n")
contact.sort()
print("The sorted List is: ", contact, "\n")

The Updated List is:  ['Tanmay Agarwal', 'Tannishtha Gupta', 'Jahnvi Shukla', 'Falak Jain', 'Rucha Sarwan', 'Samiksha Lamsal']

The Removed List is:  ['Tanmay Agarwal', 'Tannishtha Gupta', 'Jahnvi Shukla', 'Rucha Sarwan', 'Samiksha Lamsal']

The sorted List is:  ['Jahnvi Shukla', 'Rucha Sarwan', 'Samiksha Lamsal', 'Tanmay Agarwal', 'Tannishtha Gupta']

In [ ]:
# Problem Statement - 5 - Temperature Analysis

temp = [ 34, 45, 38, 37, 32 , 29, 30 , 28, 31 , 30]
print("The first 5 days Temperature are: ", temp[0:5], "\n")
print("The last 5 days Temperature are: ", temp[-5:], "\n")
print("The highest Temperature: ", max(temp), "\n")
print("The lowest Temperature: ", min(temp), "\n")
print("The average Temperature: ", sum(temp)/len(temp), "\n")

The first 5 days Temperature are:  [34, 45, 38, 37, 32]

The last 5 days Temperature are:  [29, 30, 28, 31, 30]

The highest Temperature:  45

The lowest Temperature:  28

The average Temperature:  33.4