# Experiment No. 5 EDA
### Name : Tanmay Agarwal
### PRN : 25070123158
### Batch : EnTC A3
### Title: To Study Sets and Dictonaries in Python.

#### Sets are used to store multiple items in single variable.

In [ ]:
# Creation of Set
myset = {"Rolex", "AP", "RM"}
print(myset)

{'RM', 'AP', 'Rolex'}

In [ ]:
#Duplicats not allowed!

myset = {"Rolex", "AP", "RM", "AP"}
print(myset)

{'RM', 'AP', 'Rolex'}

In [ ]:
#The values True and 1 are considered the same value in sets, and are treated in duplicates:

myset = {"Rolex", "AP", "RM", True, 1, 2}
print(myset)

{True, 2, 'AP', 'RM', 'Rolex'}

In [ ]:
#The values False and 0 are considered the same value in sets, and are treated in duplicates:

myset = {"Rolex", "AP", "RM", False, 0, 1}
print(myset)

{False, 1, 'AP', 'RM', 'Rolex'}

In [ ]:
# A Set with strings, integers and boolean values:

myset = {"Rolex", 2, 3, True, 4, "AP"}
print(myset)

{True, 2, 3, 4, 'AP', 'Rolex'}

In [ ]:
# To check membership

myset = {"Rolex", "AP", "RM"}

print("Rolex" in myset)
print("Casia" in myset)

True
False

In [ ]:
# Once a set is created, you cannot replace its items
# but you can add new items

myset = {"Rolex", "AP", "RM"}
myset.add("Casia")
print(myset)
#

{'RM', 'AP', 'Rolex', 'Casia'}

In [ ]:
# Removing an items from set:

myset = {"Rolex", "AP", "RM"}
myset.remove("AP")
print(myset)

{'RM', 'Rolex'}

In [ ]:
# Set Operations
A = {1, 2, 3, 4}
B = {5, 4, 6, 7}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)
print("Symmetric Difference:", A^B)

Union: {1, 2, 3, 4, 5, 6, 7}
Intersection: {4}
Difference: {1, 2, 3}
Symmetric Difference: {1, 2, 3, 5, 6, 7}

In [ ]:
# Frozenset in Python:

myset = frozenset([1, 2, 3, 4])
print(myset)
print(type(myset))

frozenset({1, 2, 3, 4})
<class 'frozenset'>

In [ ]:
# Adding or Removal of elements are not allowed in frozenset:

myset = frozenset([1, 2, 3, 4])
myset.add(5)

myset = frozenset(["Rolex", "AP", "RM"])
myset.remove("AP")

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
''' Problem Statement 1: Unique Event Participants
A College event has a list of students who registered multiple times by mistake.
Write a Python Program using a set to store participants Names and display only unique Participants '''

registered_participants = ["Tanmay", "Tannishtha", "Drishti", "Jayvee", "Jahnvi", "Tannishtha", "Jahnvi"]

unique_participants = set(registered_participants)

print("Unique Participants:", unique_participants)

Unique Participants: {'Tanmay', 'Jayvee', 'Tannishtha', 'Drishti', 'Jahnvi'}

In [ ]:
''' Problem Statement 2: Three students choose elective subjects.
Find the common subjects chosen by all students using set operations.
Concept Used: Set Intersection (&)'''

# Define the subjects chosen by each student
student1_subjects = {"AMT", "PES", "TPCS", "EDA"}
student2_subjects = {"PES", "DCLD", "EDA", "English"}
student3_subjects = {"TPCS", "AMT", "EDA", "History"}

# Find the common subjects using set intersection
common_subjects = student1_subjects & student2_subjects & student3_subjects

print("Student 1's subjects:", student1_subjects)
print("Student 2's subjects:", student2_subjects)
print("Student 3's subjects:", student3_subjects)
print("Common subjects chosen by all students:", common_subjects)

Student 1's subjects: {'AMT', 'PES', 'TPCS', 'EDA'}
Student 2's subjects: {'DCLD', 'PES', 'English', 'EDA'}
Student 3's subjects: {'TPCS', 'AMT', 'History', 'EDA'}
Common subjects chosen by all students: {'EDA'}

In [ ]:
''' Problem Statement 3: One Set contains student in the EDC Club, another in the IEEE Club.
Find Students who are:
  1. In Both Clubs,
  2. In Only one Club
Concept Used: Intersection, Symmetric Difference'''

edc_club_members = {"Tanmay", "Drishti", "Jayvee", "Jahnvi", "Tannishtha"}
ieee_club_members = {"Drishti", "Aditya", "Jahnvi", "Rucha", "Tanmay"}

# Students in both clubs (Intersection)
students_in_both_clubs = edc_club_members.intersection(ieee_club_members)

# Students in only one club (Symmetric Difference)
students_in_only_one_club = edc_club_members.symmetric_difference(ieee_club_members)

print("EDC Club Members:", edc_club_members)
print("IEEE Club Members:", ieee_club_members)
print("\nStudents in Both Clubs:", students_in_both_clubs)
print("Students in Only One Club:", students_in_only_one_club)

EDC Club Members: {'Tanmay', 'Jayvee', 'Tannishtha', 'Drishti', 'Jahnvi'}
IEEE Club Members: {'Tanmay', 'Aditya', 'Drishti', 'Rucha', 'Jahnvi'}

Students in Both Clubs: {'Tanmay', 'Drishti', 'Jahnvi'}
Students in Only One Club: {'Jayvee', 'Aditya', 'Tannishtha', 'Rucha'}

In [ ]:
''' Problem Statement 4: Absent Students
Given a set of all students and a set of present students, find the absent students.
Concepts Used: Set Difference (-)'''

# Define the set of all students
all_students = {"Tanmay", "Drishti", "Jayvee", "Jahnvi", "Tannishtha", "Samiksha", "Rucha"}

# Define the set of present students
present_students = {"Tanmay", "Drishti", "Samiksha", "Jahnvi"}

# Find the absent students using set difference
absent_students = all_students - present_students

print("All Students:", all_students)
print("Present Students:", present_students)
print("Absent Students:", absent_students)

All Students: {'Tanmay', 'Jayvee', 'Tannishtha', 'Drishti', 'Samiksha', 'Rucha', 'Jahnvi'}
Present Students: {'Tanmay', 'Drishti', 'Jahnvi', 'Samiksha'}
Absent Students: {'Jayvee', 'Tannishtha', 'Rucha'}

In [ ]:
'''Problem Statement 5: Remove Invalid Entries
A set contains valid course codes.
Remove a discontinued course code from the set.
Concept Used: remove () / discard () '''

valid_course_codes = {"T5077", "T6077", "T7077", "T8077", "T9077"}
discontinued_course = {"T6077", "T8077"}

print("Original set of course codes:", valid_course_codes)

# Using remove()
    # valid_course_codes.remove(discontinued_course)
    # print("Set after using remove():", valid_course_codes)

# Using discard()
valid_course_codes.discard(discontinued_course)
print("Set after using discard():", valid_course_codes)

# Demonstrate the difference: remove() raises an error if item not found, discard() does not
print("\nTrying to remove a non-existent course with discard():")
valid_course_codes.discard("T7077") # This will not raise an error
print("Set after trying to discard non-existent course:", valid_course_codes)

# Uncomment the following line to see remove() raise an error for a non-existent item
# print("\nTrying to remove a non-existent course with remove():")
# valid_course_codes.remove("T")

Original set of course codes: {'T9077', 'T5077', 'T6077', 'T7077', 'T8077'}
Set after using discard(): {'T9077', 'T5077', 'T6077', 'T7077', 'T8077'}

Trying to remove a non-existent course with discard():
Set after trying to discard non-existent course: {'T9077', 'T5077', 'T6077', 'T8077'}

# Python Dictionaries
## Dictionaries are used to store data values in key value pairs
##
## A dictionary is a collection which is ordered*, changable and do not allow duplicates.

In [ ]:
# Creation of a Dictionary
mydict = {
    "brand": "Rolex",
    "model": "Submariner",
    "year": 2021
}

print(mydict)

{'brand': 'Rolex', 'model': 'Submariner', 'year': 2021}

In [ ]:
# Dictionary takes latest value given for key. It will not allow duplicates.
mydict = {
    "brand": "Rolex",
    "model": "Submariner",
    "year": 2021,
    "year": 2026
}

print(mydict)

{'brand': 'Rolex', 'model': 'Submariner', 'year': 2026}

In [ ]:
# Usage of len() Length function in a dictionary to find out members of the dictionary

mydict = {
    "brand": "Rolex",
    "model": "Submariner",
    "year": 2021,
    "year": 2026
}

print(len(mydict))

3

In [ ]:
# Type of a dictionary is <'dict'>

mydict = {
    "brand": "Rolex",
    "model": "Submariner",
    "year": 2021,
    "year": 2026
}

print(mydict)
print(type(mydict))

{'brand': 'Rolex', 'model': 'Submariner', 'year': 2026}
<class 'dict'>

In [ ]:
# Changing Values in Dictionary:
watch = {
    "brand": "Rolex",
    "model": "Submariner",
    "year": 2021
}

print("Original dictionary:", watch)

watch["year"] = 2023
watch["model"] = "Daytona"

print("Updated dictionary:", watch)

Original dictionary: {'brand': 'Rolex', 'model': 'Submariner', 'year': 2021}
Updated dictionary: {'brand': 'Rolex', 'model': 'Daytona', 'year': 2023}

In [ ]:
# Adding new key in dictionary

watch = {
    "brand": "Rolex",
    "model": "Submariner",
    "year": 2021
}
watch["Color"] = "Tiffany"

values_dict= watch.values()
print(values_dict)
print(watch)

dict_values(['Rolex', 'Submariner', 2021, 'Tiffany'])
{'brand': 'Rolex', 'model': 'Submariner', 'year': 2021, 'Color': 'Tiffany'}

In [ ]:
# Dictionary key elemnt wise printing:
student = {
    "PRN" : 25070123158,
    "Name" : "Tanmay Agarwal",
    "Branch" : "EnTC",
    "Batch" : "A-3"
}

print("Branch: ", student["Branch"])

# Adding and Updating the Elements:

student["year"] = "First"
student["Name"] = "BOSS"

print(student)

Branch:  EnTC
{'PRN': 25070123158, 'Name': 'BOSS', 'Branch': 'EnTC', 'Batch': 'A-3', 'year': 'First'}

In [ ]:
# Removing Elements:

student.pop("Branch")
print("After Removal: ", student)

After Removal:  {'PRN': 25070123158, 'Name': 'BOSS', 'Batch': 'A-3', 'year': 'First'}

In [1]:
''' Problem Statement 1: A Dictionary stores product names and their prices. Write a python program to update the price of a given product. '''

product_prices = {
    "Laptop": 1200,
    "Mouse": 25,
    "Keyboard": 75,
    "Monitor": 300
}

print("Original product prices:", product_prices)

product_prices["Laptop"] = "1500"

print("Updated product prices:", product_prices)

Original product prices: {'Laptop': 1200, 'Mouse': 25, 'Keyboard': 75, 'Monitor': 300}
Updated product prices: {'Laptop': '1500', 'Mouse': 25, 'Keyboard': 75, 'Monitor': 300}

In [5]:
''' Problem Statement 2: A dictionary stores students names and marks.
Write a python program to search for a students marks using the name, If the student is found, display a suitable message. '''

student_marks = {
    "Tanmay": 85,
    "Drishti": 92,
    "Jayvee": 78,
    "Jahnvi": 95,
    "Rucha": 88
}

print("Student Marks:", student_marks)

student_name_to_search = input("Enter the name of the student to search for: ")

if student_name_to_search in student_marks:
    marks = student_marks[student_name_to_search]
    print(f"{student_name_to_search}'s marks: {marks}")
else:
    print(f"Student '{student_name_to_search}' not found in the records.")

Student Marks: {'Tanmay': 85, 'Drishti': 92, 'Jayvee': 78, 'Jahnvi': 95, 'Rucha': 88}
Enter the name of the student to search for: Jayvee
Jayvee's marks: 78

In [7]:
''' Problem Statement 3. A dictionary stores usernames and password. Write a python program to validate user login. '''

user_credentials = {
    "admin": "admin123",
    "user1": "pass123",
    "guest": "guestpass"
}

print("Available users for testing: admin, user1, guest")
username_input = input("Enter username: ")
password_input = input("Enter password: ")

if username_input in user_credentials:
    if user_credentials[username_input] == password_input:
        print(f"Login successful! Welcome, {username_input}.")
    else:
        print("Incorrect password. Please try again.")
else:
    print("Username not found. Please register or try again.")

Available users for testing: admin, user1, guest
Enter username: admin
Enter password: admin123
Login successful! Welcome, admin.

In [9]:
''' Problem Statement 4: A dictionary stores student names and marks.
Write a python program to find the student with the highest marks. '''

marks= {"Tanmay" : 100, "Tannishtha" : 98, "Rucha" : 90, "Samiksha" : 95}
highest = max(marks, key=marks.get)
print("Student with max marks:", highest, "and Student's Marks: " , marks[highest] )

Student with max marks: Tanmay and Student's Marks:  100