# Experiment 4 EDA 23/01/2026
### Name : Tanmay Agarwal
### PRN : 25070123158
### Batch : EnTC A3
### Title: Study of Tuples in Python

In [2]:
# Python Tuples
mytuple=("Tanmay","Adya","Kiara")
print(mytuple[1])

Adya

In [3]:
mytuple=("Tanmay","Adya","Kiara")
mytuple[1]="khwaish"
print(mytuple[1])

TypeError: 'tuple' object does not support item assignment

In [4]:
# Append Items in Tuples
mytuple=("Tanmay","Adya","Kiara")
mytuple.append("khwaish")
print(mytuple)

AttributeError: 'tuple' object has no attribute 'append'

In [5]:
# Add Tuple to a Tuple
mytuple=("Tanmay","Adya","Kiara")
mytuple2=("khwaish",)
mytuple+=mytuple2
print(mytuple)

('Tanmay', 'Adya', 'Kiara', 'khwaish')

In [6]:
numbers = (3, 7, 1, 9, 4)
print(numbers[1::2])

(7, 9)

In [7]:
list1 = (20,30,40,50,60,70)

print(list1[1:3])
print(list1[1:3:1])
print(list1[1:5:2])
print(list1[1:4:3])
print(list1[6:4:-1])

(30, 40)
(30, 40)
(30, 50)
(30,)
(70,)

In [8]:
list1 = (20,30,40,50,60,10,70)

print(list1[1:3])
print(list1[1:3:1])
print(list1[1:5:2])
print(list1[1:4:3])
print(list1[6:4:-2])
print(list1[-2:-4:-2])

(30, 40)
(30, 40)
(30, 50)
(30,)
(70,)
(10,)

In [12]:
exam_result = ("Mathematics", 85, "B")

# Unpack the tuple elements into separate variables
subject, marks, grade = exam_result

# Display the subject, marks, and grade
print(f"Subject: {subject}")
print(f"Marks Obtained: {marks}")
print(f"Grade: {grade}")

# Add if condition to check for 75 marks
if marks >= 75:
    print("Student scored 75 or more marks.")
else:
    print("Student scored less than 75 marks.")

Subject: Mathematics
Marks Obtained: 85
Grade: B
Student scored 75 or more marks.

In [16]:
attendance=("p","p","a","p","p","a","p","p","a","a","a","p","p","p","p","a","p")
attendance.count("p")

attendance.count("a")

if "a" in attendance:
    print("Employee was absent in this month atleast once.")

if attendance.count("a") >= 1:
  print("Employee was atleast 1 times absent")

Employee was absent in this month atleast once.
Employee was atleast 1 times absent